
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-start-hook
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: post-start-hook
  template:
    metadata:
      labels:
        app: post-start-hook
    spec:
      containers:
      - image: k8spatterns/random-generator:1.0
        name: random-generator
        ports:
        - containerPort: 8080
          protocol: TCP
        lifecycle:
          postStart:
            exec:
              command:
              - sh
              - -C
              - sleep 30 && echo ”Wake up! ” > /tmp/postStart_done
       
